footer{
  padding: 20px 0;
  background-color: $darkBase;
  color: #fbfbfb;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  @media (max-width: 500px){
    padding: 20px 0;
  }

footer{
  .FooterBottom{
    /*border-top: 1px solid rgba(255, 255, 255, 0.36);
    padding-top: 20px;
    margin-top: 5px;*/
  }
}

footer{
  #copy{
    text-align: right;
    font-size: 13px;
    font-size: 0.8125rem;
    opacity: 0.7;
    @media (max-width: 767px){
      text-align: left;
      margin: 5px 0 20px 0;
    }
  }
}


ul#footer-selector {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
  @media(min-width: 524px){
    text-align: left;
  }
}
ul#footer-selector li {
  font-size: 14px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  font-family: $secondaryFont;
  @media(min-width: 480px){
    justify-content: flex-start;
  }
  @media(min-width: 768px){
    justify-content: flex-start;
  }
  @media(min-width: 1024px){
    justify-content: flex-start;
  }
  @media(min-width: 1300px){
    justify-content: flex-start;
  }
  a{
    text-decoration: none;
  }
}


/* Addtional links Footer */
ul{
  &#additional_links{
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 13px;
    font-size: 0.8125rem;
    float: right;
    @media (max-width: 991px){
      float: none;
      margin-top: 10px;
    }
    li{
      display: inline-block;
      margin-right: 0;
      span{
        color: $white;
        opacity: 0.7;
      }
      a{
        color: rgba($white, 0.5);
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        text-decoration: none;
        strong{
          color: $white;
        }
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}

}

