header{
  position: fixed;
  width: 100%;
  padding: 0.6rem 0 0;
  z-index: 999;
  @media(min-width: 992px){
    padding: 1.5rem 0;
  }
  a{
    color: $lightBlack;
    transition: all 0.25s ease-in;
    font-family: $secondaryFont;
    text-decoration: none;
    &:hover{
      color: $base;
    }
    @media(max-width: 991px){
      color: $white;
      &:hover{
        color: $white;
      }
    }
  }
  .MenuContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .LogoContainer{
      // width: 30%;
    }
  }

  .NavContainer{
    &.Active_Nav{
      nav{
        transform: translateX(0);
        z-index: 999;
      }
      .MenuOverlay{
        visibility: visible;
        opacity: 1;
        z-index: 990;
        .CloseMenuIcon{
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    nav{
      height: 100%;
      @media(max-width: 991px){
        position: fixed;
        width: 375px;
        height: 100vh;
        overflow-y: scroll;
        right: 0;
        top: 0;
        background-color: $base;
        @include Ease(0.25s);
        transform: translateX(200%);
      }
      @media(max-width: 500px){
        width: 75vw;
      }
      >ul{
        height: 100%;
        display: flex;
        margin: 0;
        @media(max-width: 991px){
          display: block;
          padding-left: 0;
          padding-top: 20px;
        }
        >li{
          padding: 18px 25px;
          position: relative;
          display: flex;
          align-items: center;
          @media(max-width: 991px){
            padding: 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            flex-direction: column;
            align-items: unset;
          }
          &:first-child{
            padding-left: 0;
            @media(max-width: 991px){
              // padding-left: 25px;
            }
          }
          &:last-child{
            padding-right: 0;
            @media(max-width: 991px){
              border-bottom: 0;
              padding-bottom: 20px;
            }
          }
          >a{
            padding-bottom: 5px;
            transition: 0.2s all;
            border-bottom: thin solid transparent;
            @media(max-width: 991px){
              padding: 15px 25px;
              width: calc(100% - 50px);
            }
            &:hover{
              border-bottom: thin solid $base;
            }
          }
        }
        .haveSubmenu{
          &.Active_MobileDropdown{
            >ul{
              height: auto;
              opacity: 1;
              z-index: 5;
            }
          }
          >a{
            position: relative;
            display: inline-block;
            @media(max-width: 991px){
              display: block;
              position: static;
            }
            &:before{
              content: '';
              background-image: url(../img/down-arrow.svg);
              background-repeat: no-repeat;
              width: 10px;
              height: 6px;
              position: absolute;
              right: -14px;
              top: 50%;
              transform: translateY(-50%);
              transition: all 0.25s ease-in;
              @media(max-width: 991px){
                content: unset;
              }
            }
            >span{
              display: none;
              @media(max-width: 991px){
                right: 0;
                top: 0;
                position: absolute;
                transform: translateY(0);
                height: 52px;
                width: 50px;
                border-left: 1px solid rgba(255,255,255,0.1);
                background-color: darken($base, 3%);
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          &:hover{
            >a{
              &:before{
                transform: translateY(-50%) rotate(-180deg);
                @media(max-width: 991px){
                  transform: translateY(-50%);
                }
              }
            }
            >ul{
                
                @media(min-width: 992px){
                  transform: scaleY(1) translateY(0);
                  visibility: visible;
                  opacity: 1;
                  z-index: 4;
                  @include Ease(0.2s);
                }
                li{
                  a{
                    opacity: 1;
                    // @include Ease(0.1s);
                  }
                }
              }
            }
          >ul{
            padding: 0;
            position: absolute;
            top: 100%;
            min-width: 175px;
            background-color: $white;
            box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.11);
            transform: scaleY(0.3) translateY(-150%);
            visibility: hidden;
            opacity: 0;
            z-index: -1;
            @include Ease(0.3s);
            @media(max-width: 991px){
              z-index: -1;
              opacity: 0;
              transform: scaleY(1) translateY(0);
              visibility: visible;
              width: 100%;
              position: relative;
              background-color: darken($base, 3%);
              height: 0;
            }
            &:before{
              content: '';
              position: absolute;
              top: -9px;
              left:20px;
              display: inline-block;
              border-right: 9px solid transparent;
              border-bottom: 9px solid #eee;
              border-left: 9px solid transparent;
              @media(max-width: 991px){
                border: none;
              }
            }
            li{
              @include Ease(0.25s);
              @media(max-width: 991px){
                border-top: 1px solid rgba(255,255,255,0.1);
              }
              &:last-child{
                border-bottom: none;
              }
              a{
                padding: 10px 15px;
                display: inline-block;
                font-size: 1.5rem;
                opacity: 0;
                @include Ease(1s);
                @media(max-width: 991px){
                  padding: 10px 25px;
                  width: 100%;
                  opacity: 1;
                  font-size: 1.55rem;
                }
              }
              &:hover{
                background-color: $graySection;
              }
            }
          }
        }
      }
      .MenuButton{
        @media(max-width: 991px){
          padding-left: 25px;
          padding-top: 15px;
        }
        a{
          color: $base;
          padding: 8px 18px;
          border-radius: 50px;
          font-size: 1.4rem;
          @include Ease(0.25s);
          @media(max-width: 991px){
            color: $white;
            width: 155px;
          }
          &:hover{
            color: $white;
          }
        }
      }
    }
  }
  .MobileNavController{
    @media(min-width: 992px){
      display: none;
    }
  }
  .MenuOverlay{
    background-color: rgba(51, 51, 51, 0.77);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    @include Ease(0.35s);
    .CloseMenuIcon{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      cursor: pointer;
      position: absolute;
      transform: translateY(-20%);
      opacity: 0;
      @include Ease(0.4);
      @media(max-width: 991px){
        right: 400px;
      }
      @media(max-width: 500px){
        right: 78vw;
      }
      >span{
        font-size: 45px;
        line-height: 0;
      }
    }
  }
  .MenuBar{
    width: 25px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    >div{
    }
    span{
      width: 100%;
      height: 2px;
      background-color: $base;
      display: inline-block;
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      &:nth-child(2){
        top: 50%;
        width: 50%;
        right: 0;
      }
      &:last-child{
        top: 100%;
        width: 75%;
        right: 0;
      }
    }
  }
}