.HomeBanner{
	position: relative;
	margin-bottom: 0;
	height: 100vh;
	.DownloadBtn{
		text-decoration: none;
	    font-size: 13px;
	    background-color: #f47920;
	    color: #fff;
	    padding: 5px 0;
	    text-align: center;
	    width: 100%;
	    transition: 0.3s all;
	    margin-top: 0;
    	display: block;
	    @media (min-width: 768px){
			margin-top: 5rem;
			font-size: 14px;
    		display: inline-block;
    		padding: 6px 0;
	    }
	    &:hover{
	    	background-color:$base;
	    }
	}
	&:before{
		content: "";
		position: absolute;
		background: url(../img/tempimg/bg.png) no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
		top: 32px;
		right: 0;
		z-index: -1;
	}
	img{
		max-width: 85%;
		position: absolute;
		right: 0;
		bottom: 32rem;
		left: 0;
		margin: 0 auto;
		@media (min-width: 375px){
			bottom: 35rem;
			max-width: 100%;
		}
		@media (min-width: 475px){
			bottom: 33rem;
			max-width: 100%;
		}
		@media (min-width: 767px){
			max-width: 92%;
			bottom: 0;
			left: unset;
			margin: unset;
		}
	}
	.BannerContent{
		position: absolute;
		top: 50%;
		bottom: unset;
		display: block;
		align-items: center;
		/*height: 100%;*/
		width: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		@media (min-width: 320px){
			top: 45%;
			display: block;
		}
		@media (min-width: 375px){
			top: 50%;
		}
		@media (min-width: 475px){
			top: 55%;
		}
		@media (min-width: 640px){
			top: 50%;
			display: block;
		}
		@media (min-width: 767px){
			top: 25%;
			display: flex;
		}
		.BannerContentBlock{
			position: relative;
			width: 35%;
			margin-top: 0rem;
			@media (max-width: 767px){
				width: 100%;
				text-align: center;
			}
			h5{
				font-size: 20px;
				color: $offbase;
				font-family: $secondaryFont;
				font: Regular 20px/24px Lato;
				text-transform: uppercase;
				font-weight: 300;
				a{
					font-size: 13px;
					font-weight: 500;
					font-family: $secondaryFont;
					color: $offbase;
					text-decoration: none;
					text-transform: lowercase;
					@media (min-width: 480px){
						font-size: 16px;						
					}
				}
				span{
					margin: 0 10px;
				}
			}
			
			h1{
				color: $base;
				text-transform: unset;
				font-family: $primaryFont;
				font-weight: 500;
				margin-top: 0;
				margin-bottom: 1rem;
				font-size: 14px;
				@media(min-width: 375px){
					font-size: 18px;
				}
				@media(min-width: 475px){
					font-size: 22px;
				}
				@media(min-width: 767px){
					font-size: 3.5rem;
				}
				br{
					display: block;
					@media (max-width: 767px){
						display: none;
					}
				}
			}
			form{
				input[type="text"],input[type="email"],input[type="submit"]{
					width: 100%;
					margin: 0 0 15px;
    				font-size: 14px;
    				padding: 5px;
    				border: thin solid rgba($base, 0.5);
    				background-color: rgba($offbase, 0.1);
    				@media (max-width: 767px){
    					width: 100%;
    				}
    				&:focus{
    					outline: none;
    				}
				}
				input[type="submit"]{
					cursor: pointer;
					background-color: #f47920;
					color: $white;
				}
			}			
		}
	}
	@media(max-width: 500px){
		margin-bottom: 0;
	}
}

.BannerContentBlock{
	position: relative;
	width: 35%;
	margin-top: 2rem;
	@media (max-width: 767px){
		width: 100%;
		text-align: center;
		margin-top: 0rem;
	}
	h5{
		font-size: 20px;
		color: $offbase;
		font-family: $secondaryFont;
		font: Regular 20px/24px Lato;
		text-transform: uppercase;
		font-weight: 300;
		a{
			font-size: 13px;
			font-weight: 500;
			font-family: $secondaryFont;
			color: $offbase;
			text-decoration: none;
			text-transform: lowercase;
			@media (min-width: 480px){
				font-size: 16px;						
			}
		}
		span{
			margin: 0 10px;
		}
	}
	
	h1{
		color: $base;
		text-transform: unset;
		font-family: $primaryFont;
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 1rem;
		font-size: 14px;
		@media(min-width: 375px){
			font-size: 18px;
		}
		@media(min-width: 475px){
			font-size: 22px;
		}
		@media(min-width: 767px){
			font-size: 2rem;
		}
		br{
			display: block;
			@media (max-width: 767px){
				display: none;
			}
		}
	}
	form{
		input[type="text"],input[type="email"],input[type="submit"]{
			width: 100%;
			margin: 0 0 10px;
			font-size: 14px;
			padding: 5px;
			border: thin solid rgba($base, 0.5);
			background-color: rgba($offbase, 0.1);
			@media (min-width: 320px){
				font-size: 12px;
				padding: 3px;
				margin: 0 0 5px;
			}
			@media (min-width: 360px){
				font-size: 13px;
				padding: 5px;
				margin: 0 0 5px;
			}
			@media (min-width: 480px){
				font-size: 13px;
				padding: 5px;
				margin: 0 0 5px;
			}
			@media (min-width: 767px){
				font-size: 14px;
			}
			&:focus{
				outline: none;
			}
		}
		input[type="submit"]{
			cursor: pointer;
			background-color: #f47920;
			color: $white;
		}
		.error{
			display: block;
			margin-top: -10px;
			font-size: 14px;
			color: $base;
		}
	}			
}

.HomeBanner{
	.MobileOnly{
		img{
			position: initial !important;
			max-width: 100%;
			margin-top: 2rem;
		}
	}
}

.success.FormMessage {
    background-color: rgba(0,0,0,0.5);
    padding: 0px 5px;
    border-radius: 3px;
    color: $white;
    display: inline-block;
    margin-bottom: 1rem;
}