$base : #7E2706;
$offbase: #483735;
$darkBase: #3C312F;
$black: #000;
$lightBlack: #191818;
$white: #fff;
$grey: #666666;
$darkGrey: #333333;
$lightGrey: #ccc;
$graySection: #F5F4F7;
$purple: #6c0c68;
$pink: #fb266b;
$lightOrange: #fbb040;
$englishGreen: #40e0d0;

$primaryFont: 'ZapfHumanist601BT-Roman', sans-serif;
$secondaryFont: 'Lato', sans-serif;