@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap";

@font-face {
	font-family: 'ZapfHumanist601BT-Roman';
	src: url('../fonts/ZapfHumanist601BT-Roman.eot');
	src: local('☺'), url('../fonts/ZapfHumanist601BT-Roman.woff') format('woff'), 
	url('../fonts/ZapfHumanist601BT-Roman.otf') format('truetype'), 
	url('../fonts/ZapfHumanist601BT-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}